/* MAIN ELEMENTS */

body {
    color: #2A2829;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: #EEEEEE;
}

a {
    text-decoration: none;
    color: #7B3B3B;
}

a:hover {
    text-decoration: underline;
}


h2 {
    color: #3e4b4c;
    border-bottom: 2px solid #668284;
}

h3 {
    margin: 0;
    padding: 0;
}

/* STRUCTURE */

#top-wrap {
    padding: 10px;
}

#top-border {
    background: linear-gradient(180deg, #AEAEAE, rgba(0,0,0,0));
    height: 7px;
}

#top {
    max-width: 800px;
    margin: 0 auto;
}

#top h1 {
    font-size: 1.5em;
}

ul#nav {
    padding: 0;
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 30px;
    list-style: none;
}

#nav li {
    display: inline-block;
    padding-right: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#nav a:hover, #nav a.active {
    text-decoration: none;
    border-bottom: 3px solid #7B3B3B;
}

#middle-wrap {
    background-color: white;
    border-bottom: 1px solid white; /* NOTE(dbp 2017-07-13): Prevent margin collapsing
                                         and thus non-white background leaking
                                         above/below gradients. */
}

#middle {
    max-width: 800px;
    margin: 0 auto;
}

#bottom-border {
    background: linear-gradient(0deg, rgba(0,0,0,0), #AEAEAE);
    height: 7px;
}

#bottom {
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.clearfix {
    clear: both;
}

/* PAGE SPECIFIC */

ul.publications li {
    padding-bottom: 25px;
}

ul.people {
    list-style: none;
    padding: 0;
}

ul.people li img {
    float: left;
    padding-right: 20px;
}

ul.people li {
    box-shadow: 0px 0px 5px 2px #668284;
    padding: 0;
    margin: 30px 0;
}

ul.people li .desc {
    padding: 20px;
}

