/* MAIN ELEMENTS */

body {
    color: #2A2829;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: #FBFBFB;
}

a {
    text-decoration: none;
    color: #A50F00;
}

a:hover {
    text-decoration: underline;
}

h1, h2, ul#nav {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #232B2B;
    padding-bottom: 3px;
    border-bottom: 2px solid #232B2B;
}

h3 {
    margin: 0;
    padding: 0;
}

/* STRUCTURE */

#top-wrap {
    padding-top: 10px;
}

#bottom-wrap {
    padding: 0 0.5em;
}

#top {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

#top h1 {
    font-size: 1.5em;
}

ul#nav {
    text-align: center;
    padding: 0 10px;
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 30px;
    list-style: none;
}

#nav li {
    display: inline-block;
    padding-right: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#nav a:hover, #nav a.active {
    text-decoration: none;
    border-bottom: 3px solid #A50F00;
}

#middle {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

#bottom {
    border-top: 2px solid #232B2B;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.clearfix {
    clear: both;
}

/* PAGE SPECIFIC */

ul.publications li {
    padding-bottom: 25px;
    list-style: none;
}

ul.people {
    list-style: none;
    padding: 0;
}

ul.people li img {
    width: 200px;
    margin-right: 20px;
    border-radius: 8em;
}

ul.people li {
    padding: 0 1em;
    margin: 48px 0;
    align-items: center;
    display: flex;
}

ul.people li .desc {
    padding: 20px;
}

/* Make Phones Great Again */

@media (max-width:750px) {
    #top h1 {
        max-width: 240px;
    }

    #top .content {
        text-align: left;
    }

    #top {
        margin: auto;
    }

    #top .content {
        display: inline-block;
    }

    #middle-wrap {
        padding: 0.5em;
    }

    ul.people li {
        display: inherit;
        text-align: center;
    }
}
